body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top-nav {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}
.top-nav-left,.top-nav-right {
    display: flex;
    margin-top: 0px;
}
.nav-left {
    justify-content: left;
    flex: 1;
    
}
.nav-right {
    justify-content: right;
    flex: 2;
} 
.nav-item {
    margin: 10px;
}

#profile-photo {
    height: 30px;
}

.search-area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#google-logo-cont, #search-bar-cont, .button-cont {
    display: flex;
    padding: 10px;
    margin: 10px;
}
#google-logo, #search-bar, .button {
    margin: auto;
}
#google-logo {
    height: 92px;
    width: 272px;
}

footer {
    margin-top: auto;
    width: 100%;
}

.bottom-nav {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
}
.bt-nav-left, .bt-nav-center, .bt-nav-right {
    display: flex;
    flex: 1;
    margin-top: 0px;
}
.bt-nav-left {
    justify-content: left;
    
}
.bt-nav-center {
    justify-content: center;
}
.bt-nav-right {
    justify-content: right;
} 

#leaf {
    height: 15px;
}
