body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}
.nav-left {
    margin-top: 0px;
    flex: 1;
    justify-content: left;
    display: flex;
}
.nav-right {
    margin-top: 0px;
    flex: 2;
    justify-content: right;
    display: flex;
} 
.nav-item {
    margin: 10px;
}
#profile-photo {
    height: 30px;
    overflow: hidden;
}

.search-area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#google-logo-cont, #search-bar-cont, .button-cont {
    display: flex;
    padding: 10px;
    margin: 10px;
}
#google-logo, #search-bar, .button {
    margin: auto;
}
#google-logo {
    height: 92px;
    width: 272px;
}

footer {
    background-color: steelblue;
    margin-top: auto;
    width: 100%;
}